/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

#TRIZ
/public/ckeditor_wiris
/public/hrms
/public/html
/public/icard
/public/knowledgebase
/public/learning
/public/library
/public/lms
/public/lms_editor_upload
/public/mailer
/public/New_Admission
/public/New_Admission_local
/public/online_fees_logo
/public/online_payment
/public/pettycash
/public/phpMailer_v2.3
/public/plugins
/public/scripts
/public/student_certificate
/public/tooltip
/public/triz-lms
/public/unlink_content
vendor