/vendor/
node_modules/
npm-debug.log
yarn-error.log
/.idea
/.vscode
.env

#TRIZ
/public/ckeditor_wiris
/public/hrms
/public/html
/public/icard
/public/knowledgebase
/public/learning
/public/library
/public/lms
/public/lms_editor_upload
/public/mailer
/public/New_Admission
/public/New_Admission_local
/public/online_fees_logo
/public/online_payment
/public/pettycash
/public/phpMailer_v2.3
/public/plugins
/public/scripts
/public/student_certificate
/public/tooltip
/public/triz-lms
/public/unlink_content 
/public/import
/public/uploads 
vendor 
