/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
/.idea
/.vscode

/public/ckeditor_wiris
/public/excel_upload
/public/hrms
/public/html
/public/icard
/public/import
/public/knowledgebase
/public/learning
/public/library
/public/lms
/public/lms_editor_upload
/public/mailer
/public/New_Admission
/public/New_Admission_local
/public/online_fees_logo
/public/online_payment
/public/pettycash
/public/phpMailer_v2.3
/public/plugins
/public/scripts
/public/student_certificate
/public/tooltip
/public/triz-lms
/public/unlink_content
vendor
storage
public
