<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style>
	#main
	{
		width:384px;
		height:240px;
		border-radius:15px;
		border:1px solid;
	}
	p
	{
		margin-bottom:0 !important;
		margin-top:0 !important;
	}
</style>

</head>

<body>
	<div id="main">
    	<div id="header" style="width:384px;height:9px;  background: linear-gradient(to right, #00964a,#00639d);;border-top-right-radius: 15px;border-top-left-radius: 15px;"></div>
        <table style="width:384px;height:232px">
        	<tbody>
            	<tr style="display:block">
                    <td>
                    <img src="&lt;&lt;school_image&gt;&gt;" style="width:24%;float:left">
                    
                   <div style="float:left;color:#00639d;"> <h4 style="margin-top:0;margin-bottom:0;margin-left:100px;display:inline-block;text-align:center;padding:3px;font-size:11px">&lt;&lt;school_name&gt;&gt;</h4>
                  <p style="margin-left:90px;margin-top:0;font-size:10px;color:black;">&lt;&lt;school_address&gt;&gt;</p> 
                   </div>
                   <div style="float:right;margin-right:10px;">
                   	<p style="float:left;font-size:10px;">Session:</p>
                                        <p style="float:left;font-size:10px;">&lt;&lt;years&gt;&gt;</p>
                   </div>
                    </td>
                    
		        </tr>
                <tr style="float:left;margin-top:-13px">
                	<td>
                		<table style="width:241px;">
                			<tbody>
                                
                                 <tr style="display:inline-block">
                            <td>
                            <p style="font-size:11px;float:left">Name Of The Student:</p>
                            <div style="border-bottom:2px dotted black;width:119px;float:left;margin-left:2px;margin-top:-9px">&lt;&lt;student_name&gt;&gt;&nbsp;</div>
                            </td>
                            
                        </tr>
                        <tr style="display:inline-block">
                            <td>
                            <p style="font-size:11px;float:left">Gender:</p>
                            <div style="border-bottom:2px dotted black;width:60px;float:left;margin-left:2px;margin-top:-9px">&lt;&lt;gender&gt;&gt;&nbsp;</div>
                            </td>
                            <td>
                            <p style="font-size:11px;float:left;margin-left:3px">Blood Group:</p>
                            <div style="border-bottom:2px dotted black;width:53px;float:left;margin-left:2px;margin-top:-9px">&lt;&lt;blood_group_name&gt;&gt;&nbsp;</div>
                            </td>
                        </tr>
                        <tr style="display:inline-block">
                            <td>
                            <p style="font-size:10px;float:left">Admission No:</p>
                            <div style="border-bottom:2px dotted black;width:40px;float:left;margin-top:-9px">&nbsp;</div>
                            </td>
                            <td>
                            <p style="font-size:11px;float:left;">Class:</p>
                            <div style="border-bottom:2px dotted black;width:22px;float:left;margin-top:-9px">&lt;&lt;standard_name&gt;&gt;&nbsp;</div>
                            </td>
                            <td>
                            <p style="font-size:11px;float:left;">Section:</p>
                            <div style="border-bottom:2px dotted black;width:22px;float:left;margin-top:-9px">&lt;&lt;division_name&gt;&gt;&nbsp;</div>
                            </td>
                        </tr>
                        <tr style="display:inline-block">
                            <td>
                            <p style="font-size:11px;float:left">Father's Name:</p>
                            <div style="border-bottom:2px dotted black;width:149px;float:left;margin-left:2px;margin-top:-9px">&lt;&lt;father_name&gt;&gt;&nbsp;</div>
                            </td>
                            
                        </tr>
                         <tr style="display:inline-block">
                            <td>
                            <p style="font-size:11px;float:left">Mother's Name:</p>
                            <div style="border-bottom:2px dotted black;width:145px;float:left;margin-left:2px;margin-top:-9px">&lt;&lt;mother_name&gt;&gt;&nbsp;</div>
                            </td>
                            
                        </tr>
                        <tr style="display:inline-block">
                            <td>
                            <p style="font-size:11px;float:left">Local Address:</p>
                            <div style="border-bottom:2px dotted black;width:149px;float:left;margin-left:2px;margin-top:-9px">&lt;&lt;address&gt;&gt;&nbsp;</div>
                            <br />
                            <div style="border-bottom:2px dotted black;width:210px;float:left;margin-left:2px;margin-top:-9px">&nbsp;</div>
                            </td>
                            
                        </tr>
                        <tr style="display:inline-block">
                            <td>
                            <p style="font-size:11px;float:left">Emergency Contact No.:</p>
                            <div style="border-bottom:2px dotted black;width:111px;float:left;margin-left:2px;margin-top:-9px">&lt;&lt;mobile&gt;&gt;&nbsp;</div>
                            </td>
                            
                        </tr>
                        <tr style="display:inline-block">
                            <td>
                            <p style="font-size:11px;float:left">Bus/Cab Route No:</p>
                            <div style="border-bottom:2px dotted black;width:132px;float:left;margin-left:2px;margin-top:-9px">&nbsp;</div>
                            </td>
                            
                        </tr>
            </tbody>
        </table>
        </td>
        <td>
        	<div style="width:100px;height:100px;border:1px dotted;border-radius:15px;margin-top:10px;margin-left:15px"><img src="&lt;&lt;student_image&gt;&gt;" alt="Student Image" style="height: 78px;"><p style="font-size:12px;text-align:center;padding-top:35px"></p></div>
            <p style="font-size:11px;text-align:center;padding-top:35px">Signature of Issuing Authority & School Seal</p>
        </td>
        </tr>
        </tbody>
        </table>
        <div style="width:180px;height:21px;border:1px solid;margin-top:-22px;background:#0166b3;color:white;border-radius:0 17px 17px 21px"><p style="font-size:10px;text-align:center;">STUDENT IDENTITY CARD</p></div>
        <div id="footer" style="width:384px;height:9px;  background: linear-gradient(to right, #00964a,#00639d);;border-top-right-radius: 15px;border-top-left-radius: 15px;transform:rotate(180deg);margin-top:-11px"></div>
    </div>
</body>
</html>
