<style>
    /* ==============================
       ID CARD BASE STYLES
    ============================== */
    .icard-content,
    .icard-content * {
        font-family: "Josefin Sans", sans-serif !important;
        font-weight: bold;
    }

    .icard-wrapper {
        border: 0;
        border-collapse: collapse;
        border-spacing: 0;
        overflow: hidden;
        width: 100%;
    }

    .icard-item {
        width: 100%;
        overflow: hidden;
    }

    .icard-left {
        width: 50%;
    }

    .icard-right {
        width: 50%;
        margin-right: 5%;
        margin-left: 15%;
    }    

    .icard-content {
        margin-top: 40%;
        margin-bottom: 10%;
    }

    .icard-division {
        text-align: right;
        font-size: 24px !important;
        color: #000000;
        -webkit-text-fill-color: #000000;
        margin-right: 15%;
    }

    .icard-enrollment {
        text-align: right;
        font-size: 12px !important;
        margin-top: -8px;
        color: #000000;
        -webkit-text-fill-color: #000000;
        margin-right: 20%;
    }

    .icard-student-name {
        font-size: 17px !important;
        color: #000000;
        -webkit-text-fill-color: #000000;
        margin-top: 20px;
        /*margin-bottom: 10px;*/
    }

    .icard-address {
        font-size: 15px !important;
        height: 55px;
        overflow: hidden;
        line-height: 25px;
        padding-left: 0px;
        vertical-align: text-top;
        color: #000000;
        -webkit-text-fill-color: #000000;
    }

    .icard-mobile-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .icard-mobile-left {
        font-size: 15px !important;
        padding-left: 0px;
        color: #000000;
        -webkit-text-fill-color: #000000;
    }

    .icard-mobile-right {
        font-size: 15px !important;
        text-align: right;
        margin-right: 15px;
        color: #000000;
        -webkit-text-fill-color: #000000;
    }

    .icard-driver-row {
        padding-left: 0px;
        display: flex;
        justify-content: space-between;
    }

    .icard-driver-info {
        color: #000000;
        -webkit-text-fill-color: #000000;
    }

    .icard-driver-name {
        font-size: 17px !important;
        color: #000000;
        -webkit-text-fill-color: #000000;
    }

    .icard-driver-mobile {
        font-size: 15px !important;
        color: #000000;
        -webkit-text-fill-color: #000000;
    }

    .icard-distance-row {
        display: flex;
        align-items: center;
    }

    .icard-distance {
        padding-right: 10px;
        font-size: 13px !important;
        color: #000000;
        -webkit-text-fill-color: #000000;
    }

    .icard-icon {
        border: 1px solid;
        height: auto;
        width: 35px;
    }


    /* ==============================
       PRINT CSS
    ============================== */

    @media print {
        .icard-content,
        .icard-content * {
            font-family: "Josefin Sans", sans-serif !important;
            font-weight: bold;
        }

        .icard-wrapper {
            width: 100%;
            overflow: hidden;
            border: 0;
            margin: 0;
            padding: 0;
        }

        .icard-item {
            width: 100%;
            overflow: hidden;
            page-break-inside: avoid;
            break-inside: avoid;
        }

        .icard-left {
	        width: 50%;
	    }

	    .icard-left {
            width: 50%;
        }

        .icard-right {
            width: 50%;
            margin-right: 5%;
            margin-left: 15%;
        }    

        .icard-content {
            margin-top: 40%;
            margin-bottom: 10%;
        }

        .icard-division {
            text-align: right;
            font-size: 24px !important;
            color: #000000;
            -webkit-text-fill-color: #000000;
            margin-right: 15%;
        }

        .icard-enrollment {
            text-align: right;
            font-size: 12px !important;
            margin-top: -8px;
            color: #000000;
            -webkit-text-fill-color: #000000;
            margin-right: 20%;
        }

        .icard-student-name {
            font-size: 17px !important;
            color: #000000;
            -webkit-text-fill-color: #000000;
            margin-top: 20px;
            /*margin-bottom: 10px;*/
        }

        .icard-address {
            font-size: 15px !important;
            height: 55px;
            overflow: hidden;
            line-height: 25px;
            padding-left: 0px;
            vertical-align: text-top;
            color: #000000;
            -webkit-text-fill-color: #000000;
        }

        .icard-mobile-row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        .icard-mobile-left {
            font-size: 15px !important;
            padding-left: 0px;
            color: #000000;
            -webkit-text-fill-color: #000000;
        }

        .icard-mobile-right {
            font-size: 15px !important;
            text-align: right;
            margin-right: 15px;
            color: #000000;
            -webkit-text-fill-color: #000000;
        }

        .icard-driver-row {
            padding-left: 0px;
            display: flex;
            justify-content: space-between;
        }

        .icard-driver-info {
            color: #000000;
            -webkit-text-fill-color: #000000;
        }

        .icard-driver-name {
            font-size: 17px !important;
            color: #000000;
            -webkit-text-fill-color: #000000;
        }

        .icard-driver-mobile {
            font-size: 15px !important;
            color: #000000;
            -webkit-text-fill-color: #000000;
        }

        .icard-distance-row {
            display: flex;
            align-items: center;
        }

        .icard-distance {
            padding-right: 10px;
            font-size: 13px !important;
            color: #000000;
            -webkit-text-fill-color: #000000;
        }

        .icard-icon {
            border: 1px solid;
            height: auto;
            width: 35px;
        }
   }
</style>


<div class="icard-wrapper">

    <div class="icard-item">

        <div class="icard-left"></div>

        <div class="icard-right">

            <div class="icard-content">

                <div class="icard-division">
                    &lt;&lt;division_name&gt;&gt;
                </div>

                <div class="icard-enrollment">
                    &lt;&lt;enrollment_no&gt;&gt;
                </div>

                <div class="icard-student-name">
                    &lt;&lt;short_student_name&gt;&gt;
                </div>

                <div class="icard-address">
                    &lt;&lt;address&gt;&gt;
                </div>

                <div class="icard-mobile-row">

                    <div class="icard-mobile-left">
                        &lt;&lt;mother_mobile&gt;&gt;
                    </div>

                    <div class="icard-mobile-right">
                        &lt;&lt;mobile&gt;&gt;
                    </div>

                </div>

                <div class="icard-driver-row">

                    <div class="icard-driver-info">

                        <span class="icard-driver-name">
                            &lt;&lt;driver_name&gt;&gt;<br>
                        </span>

                        <span class="icard-driver-mobile">
                            &lt;&lt;driver_mobile&gt;&gt;
                        </span>

                    </div>

                    <div class="icard-distance-row">

                        <span class="icard-distance">
                            &lt;&lt;distance_rate&gt;&gt;<br>
                            &lt;&lt;from_distance&gt;&gt;
                        </span>

                        <span>
                            <img
                                src="&lt;&lt;icard_icon&gt;&gt;"
                                alt="icard_icon"
                                class="icard-icon"
                            >
                        </span>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>