<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style>
	#main
	{
		width:384px;
		height:240px;
		border-radius:15px;
		border:1px solid;
	}
	p
	{
		margin-bottom:0 !important;
		margin-top:0 !important;
	}
</style>

</head>

<body>
	<!-- <div id="main">
    	<div id="header" style="width:381px;height:9px;  background: linear-gradient(to right, #00964a,#00639d);;border-top-right-radius: 15px;border-top-left-radius: 15px;"></div>
        
        <div id="footer" style="width:381px;height:9px;  background: linear-gradient(to right, #00964a,#00639d);;border-top-right-radius: 15px;border-top-left-radius: 15px;transform:rotate(180deg);margin-top:-11px"></div>
        <div style="width:180px;height:22px;border:1px solid;margin-top:-22px;background:#0166b3;color:white;border-radius:0 17px 17px 21px;position:absolute !important"><p style="font-size:10px;text-align:center;padding-top:3px">STUDENT IDENTITY CARD</p></div>

    </div> -->
    <table style="border: 1px solid rgb(0, 0, 0); border-collapse: collapse; border-spacing: 0px; display: block; background-image: url(;;;;;;;/dholakiyaschools/Products/cms/assets/bgnew.png;;;;;;;); background-size: cover; background-position: center center; overflow: hidden; margin-bottom: 10px;" width="317" height="175">
    <tbody>
        <tr style="background-color:ce7c29;">
            <td rowspan="2">&nbsp;&nbsp;</td>
            <td colspan="6" style="font-size:16px; text-align:center; color:#28166f; text-shadow: 1px 1px 0px #FFF;"><b>&lt;&lt;school_name&gt;&gt;</b></td>
        </tr>
        <tr style="background-color:ce7c29;">
            <td colspan="6" style="font-size:10px; text-align:center; color:#fff;">&lt;&lt;school_address&gt;&gt;</td>
        </tr>
        <tr>
            <td style="font-size:10px; height:16px;" width="20%"><span style="width:50px;"><b>Name</b></span></td>
            <td colspan="6" style="font-size:11px; height:16px;">: <label> &lt;&lt;student_name&gt;&gt;</label></td>
        </tr>
        <tr>
            <td style="font-size:10px;" width="20%"><b>Std.</b></td>
            <td style="font-size:10px;">:<label><br />
            </label>&nbsp;&lt;&lt;standard_name&gt;&gt;</td>
            <td style="font-size:10px;"><label><b>&nbsp; &nbsp; &nbsp;</b></label></td>
            <td style="font-size:10px;"><b>&nbsp; Div:</b></td>
            <td style="font-size:10px;"><label>&lt;&lt;division_name&gt;&gt;</label></td>
            <td style="font-size:10px;">&nbsp;</td>
            <td rowspan="4" align="center"><img src="&lt;&lt;student_image&gt;&gt;" alt="Student Image" style="height: 78px;"><p style="font-size:12px;text-align:center;padding-top:35px"></td>
        </tr>
        <tr>
            <td style="font-size:10px;" width="20%"><b>GR No</b></td>
            <td colspan="2" style="font-size:10px;">: <label>[GR_NO]</label></td>
            <td style="font-size:10px;" width="20%"><b>Med.:</b></td>
            <td colspan="2" style="font-size:10px;"><label>[MEDIUM]</label></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td style="font-size:10px; vertical-align: text-bottom;"><b>Address</b></td>
            <td colspan="5" style="font-size:10px; height:25px; overflow:hidden; display:block; width:230%;">: &lt;&lt;address&gt;&gt;</td>
        </tr>
        <tr>
            <td style="font-size:10px;"><b>Mobile</b></td>
            <td colspan="5" style="font-size:10px;">: &lt;&lt;mobile&gt;&gt;&nbsp;</td>
        </tr>
        <tr>
            <td colspan="6" style="text-align:center; white-space:nowrap;">[BARCODE]</td>
            <td style="font-size:10px; text-align:center; white-space:nowrap; padding-right:5px;"><img alt="" src="[PRIN_SIGN]" /><br />
            Auth. Signatory</td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>
</body>
</html>
