<table class="MsoTableGrid" style="margin-left: -0.25pt; border-collapse: collapse; border-width: initial; border-style: none; border-color: initial;" width="824" height="964" cellspacing="0" cellpadding="4" border="0">
    <tbody>
        <tr>
            <td colspan="5" width="62">
            <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;margin-top:40mm;"></p>
            <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;"><b><span style="font-size:12.0pt;&#xA;  font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;"><u>TRANSFER CERTIFICATE</u></span></b></p>
            </td>
            <td>&nbsp;</td>
        </tr>
		<tr>
			 <td>&nbsp;</td>
		</tr>
		<tr>
            <td colspan="2">
            <div align="left"><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;"><b>CBSE Affiliation No. &lt;&lt;cbse_affiliation_no&gt;&gt;</b></span></span></div>
            </td>
            <td>
             <div align="right"><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;"><b>School Code: &lt;&lt;school_code&gt;&gt;</b></span></span></div>
            </td>
        </tr>
		
		<tr>
            <td colspan="2">
           &nbsp;
            </td>
            <td>
             <div align="right"><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;"><b>Scholar No: &lt;&lt;scholar_no&gt;&gt;</b></span></span></div>
            </td>
        </tr>
        <tr>
            <td width="62">
            <div align="center"><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">1.</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">Name of the Pupil</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">: &nbsp;&nbsp;&lt;&lt;student_name&gt;&gt;</span></span></div>
            </td>
        </tr>
        <tr>
            <td width="62">
            <div align="center"><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">2.</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">Father&rsquo;s / Guardian&rsquo;s Name</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">: &nbsp;&nbsp;&lt;&lt;father_name&gt;&gt;</span></span></div>
            </td>
        </tr>
        <tr>
            <td width="62">
            <div align="center"><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">3.</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">Mother&rsquo;s Name</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">: &nbsp;&nbsp;&lt;&lt;mother_name&gt;&gt;</span></span></div>
            </td>
        </tr>
        <tr>
            <td width="62">
            <div align="center"><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">4.</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">Nationality</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">: &nbsp;&nbsp;Indian</span></span></div>
            </td>
            <td width="87">
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">&nbsp;</span></span></div>
            </td>
        </tr>
        <tr>
            <td width="62">
            <div align="center"><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">5.</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">Whether the candidate belongs to S.C/S.T/O.B.C</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">: &nbsp;&nbsp;&lt;&lt;religion&gt;&gt;&nbsp;</span></span><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">&lt;&lt;cast&gt;&gt;</span></span></div>
            </td>
            <td width="87">
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">&nbsp;</span></span></div>
            </td>
        </tr>
        <tr>
            <td width="62">
            <div align="center"><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">6.</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">Date of First Admission in School with class</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">: &nbsp;&nbsp;&lt;&lt;date_first_admission_in_school_with_class&gt;&gt;</span></span></div>
            </td>
            <td width="87">
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">&nbsp;</span></span></div>
            </td>
        </tr>
        <tr>
            <td width="62">
            <div align="center"><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">7.</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><spnbsp;an style="font-family: &quot;TAHOMA&quot;;">Date of Birth (in Christian Era) according
            to Admission Register(In Figures)<br />(In words)</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">: &nbsp;&nbsp;&lt;&lt;date_of_birth_words&gt;&gt;<br />
            &nbsp;&nbsp;&nbsp; &lt;&lt;date_of_birth&gt;&gt;</span></span></div>
            </td>
            <td width="87">
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">&nbsp;</span></span></div>
            </td>
        </tr>
        <tr>
            <td width="62">
            <div align="center"><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">8.<br />
            </span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">Class in Which Pupil Last Studied(In Figures)</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">:&nbsp; &nbsp;STD :&nbsp;</span></span><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">&lt;&lt;standard_name&gt;&gt;&nbsp;&nbsp;&nbsp;</span></span><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SEC :&nbsp;</span></span><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">&lt;&lt;section_name&gt;&gt;</span></span></div>
            </td>
            <td width="87">
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">&nbsp;</span></span></div>
            </td>
        </tr>
        <tr>
            <td width="62">
            <div align="center"><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">9.</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">School/Board Annual Examination last taken
            with result</span></span></div>
            </td>
            <td colspan="2"><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">:&nbsp;&nbsp; &lt;&lt;school_board_annual_exam_result&gt;&gt;</span></span></td>
        </tr>
        <tr>
            <td width="62" valign="top">
            <div align="center"><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">10.</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">Whether failed, If so once / twice in the Same Class</span></span></div>
            </td>
            <td valign="top">
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">: &nbsp;&nbsp;&lt;&lt;whether_failed&gt;&gt;</span></span></div>
            </td>
            <td width="87">
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">&nbsp;</span></span></div>
            </td>
        </tr>
		<tr>
            <td width="62" valign="top">
            <div align="center"><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">11.</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">Subjects Studied</span></span></div>
            </td>
            <td valign="top">
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">: &nbsp;&nbsp;&lt;&lt;subjects_studied&gt;&gt;</span></span></div>
            </td>
            <td width="87">
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">&nbsp;</span></span></div>
            </td>
        </tr>
        <tr>
            <td width="62" valign="top">
            <div align="center"><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">12.</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">Whether Qualified for Promotion to Higher Class<br />
             If So, to which class(In Figures)(In Words)</span></span></div>
            </td>
            <td valign="top">
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">: &nbsp;&nbsp;&lt;&lt;whether_qualified&gt;&gt;</span></span></div>
            </td>
            <td width="87">
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">&nbsp;</span></span></div>
            </td>
        </tr>
        <tr>
            <td width="62" valign="top">
            <div align="center"><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">13.</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">Month Upto Which the (Pupil has paid) School Dues/Paid</span></span></div>
            </td>
            <td valign="top">
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">: &nbsp;&nbsp;&lt;&lt;month_up&gt;&gt;</span></span></div>
            </td>
            <td width="87">
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">&nbsp;</span></span></div>
            </td>
        </tr>
        <tr>
            <td width="62" valign="top">
            <div align="center"><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">14.</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">Any Fee Concession availed of,If so,the nature of such concession</span></span></div>
            </td>
            <td valign="top">
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">: &nbsp;&nbsp;&lt;&lt;fees_concession&gt;&gt;</span></span></div>
            </td>
            <td width="87">
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">&nbsp;</span></span></div>
            </td>
        </tr>
        <tr>
            <td width="62">
            <div align="center"><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">15.</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">Total No. of Working Days</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">:&nbsp;&nbsp; </span><span style="font-family: &quot;TAHOMA&quot;;font-size:13px !important;">&lt;&lt;total_no_of_working_days&gt;&gt;&nbsp;&nbsp;&nbsp;</span></span></div>
            </td>
            <td width="87">
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">&nbsp;</span></span></div>
            </td>
        </tr>
        <tr>
            <td width="62">
            <div align="center"><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">16.</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">Total No. of Working Days Present</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">:&nbsp;&nbsp;</span> 			<span style="font-family: &quot;TAHOMA&quot;;font-size:13px !important;">&lt;&lt;total_no_of_working_present_days&gt;&gt;&nbsp;&nbsp;&nbsp;</span> 			</span></div>
            </td>
            <td width="87">
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">&nbsp;</span></span></div>
            </td>
        </tr>
        <tr>
            <td width="62" valign="top">
            <div align="center"><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">17.</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">Whether the Student is NCC Cadet/Scout Guide(details may be given)</span></span></div>
            </td>
            <td valign="top">
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">: &nbsp;&nbsp;&lt;&lt;whether_ncc&gt;&gt;</span></span></div>
            </td>
            <td width="87">
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">&nbsp;</span></span></div>
            </td>
        </tr>
        <tr>
            <td width="62" valign="top">
            <div align="center"><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">18.</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">Extra-Curricular Activities in which the pupil usually took part</span></span></div>
            </td>
            <td valign="top">
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;white-space: nowrap;">: &nbsp;&nbsp;&lt;&lt;games_played&gt;&gt;</span></span></div>
            
            </td>
            <td width="87">
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">&nbsp;</span></span></div>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;" width="62"><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">19.</span></span></td>
            <td><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">General Conduct</span></span></td>
            <td><span style="font-size: 13px;">			<span style="font-family: &quot;TAHOMA&quot;;font-size:13px !important;">:&nbsp;&nbsp; &lt;&lt;general_conduct&gt;&gt;&nbsp; <br />
            </span></span></td>
            <td width="87">&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align: center;" width="62"><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">20.</span></span></td>
            <td><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">Date of Application of Certificate</span></span></td>
            <td><span style="font-size: 13px;">			<span style="font-family: &quot;TAHOMA&quot;;font-size:13px !important;">:&nbsp;&nbsp; &lt;&lt;date_of_application_of_certificate&gt;&gt;&nbsp; <br />
            </span></span></td>
            <td width="87">&nbsp;</td>
        </tr>
        <tr>
            <td width="62">
            <div align="center"><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">21.</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">Date of issue of Certificate</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">:&nbsp;&nbsp;</span> 			<span style="font-family: &quot;TAHOMA&quot;;font-size:13px !important;">&lt;&lt;date_of_issue_of_certificate&gt;&gt;&nbsp;&nbsp;&nbsp;</span> 			</span></div>
            </td>
            <td width="87">
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">&nbsp;</span></span></div>
            </td>
        </tr>
        <tr>
            <td width="62">
            <div align="center"><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">22.</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">Reason for Leaving the school</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">: &nbsp;&nbsp;&lt;&lt;reason_leaving_school&gt;&gt;</span></span></div>
            </td>
            <td width="87">
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">&nbsp;</span></span></div>
            </td>
        </tr>
        <tr>
            <td width="62">
            <div align="center"><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">23.</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">Any other remark</span></span></div>
            </td>
            <td>
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">: &nbsp;&nbsp;&lt;&lt;other_remark&gt;&gt;</span></span></div>
            </td>
            <td width="87">
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">&nbsp;</span></span></div>
            </td>
        </tr>
        <tr>
            <td colspan="6" width="707">
            <div><span style="font-size: 13px;"><span style="font-family: &quot;TAHOMA&quot;;">&nbsp;</span></span></div>
            </td>
        </tr>
        <tr style="mso-yfti-irow:25;height:27.85pt">
            <td colspan="3" style="width:194.95pt;padding:0in 5.4pt 0in 5.4pt;&#xA;  height:27.85pt" width="200">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:&#xA;  normal"><span style="font-size: small;"><span style="font-family: Tahoma;"><b>&nbsp;&nbsp;&nbsp; Signature Of Class Teacher&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Checked by(State Full Name &amp; Designation) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Principal(Seal)</b></span></span><b><span style="font-size:10.0pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;"><o:p></o:p></span></b></p>
            </td>
        </tr>
        <tr style="mso-yfti-irow:26;mso-yfti-lastrow:yes;height:31.0pt">
            <td colspan="6" style="width:513.0pt;padding:0in 5.4pt 0in 5.4pt;&#xA;  height:31.0pt" width="684">
            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;&#xA;  text-align:center;line-height:normal;border-top: 2px solid;" align="center"><span style="font-size:&#xA;  10.0pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;"><o:p></o:p></span></p>
            </td>
        </tr>
    </tbody>
</table>