@charset "utf-8";
/* CSS Document */

/* root element for accordion. decorated with rounded borders and gradient background image */
#accordion {
	//background:#FFFFFF url(../images/h150.png) repeat scroll 0;
	background:#f7f7f7;	
	height:300px;
	width:auto;
	border:1px solid #ddd;
        margin-left:0%;  
}

/* accordion header */
#accordion img {
	float:left;
	margin-right:1px;
	cursor:pointer;
	opacity:1;
	filter: alpha(opacity=100);
}

/* currently active header */
#accordion img.current {
	cursor:default;
	opacity:1;
	filter: alpha(opacity=50);
}

/* 
	accordion pane. should initially have zero width and display:none.
	the first pane should override these with inline style
*/
#accordion div {
	width:auto;
	float:left;	
	display:none;		
	margin-right:10px;
}

/* content inside a pane should have fixed width */
#accordion div h3 {
	color:#444;
	margin:0 0 -10px 0;
	width:190px;
	font-size:15px;	
}
	
#accordion div p {	
	font-size:11px;
	width:190px;
}

#tab_bullet a {
background:url(../images/bullet_blue.png) no-repeat left top;
padding-left:20px;
line-height:24px;
font-size:14px;
font-weight:normal;

}
